<div class="container">
  <div class="form-container">
    <form (ngSubmit)="editMode ? updateHelpRequest() : createHelpRequest()" class="help-request-form">
      <h1>{{ editMode ? 'Edit Help Request' : 'Help Requests' }}</h1>
      
      <label for="name">Your Name</label>
      <input type="text" [(ngModel)]="newRequest.name" name="name" placeholder="Your Name" required />

      <label for="description">Describe the Help Needed</label>
      <textarea [(ngModel)]="newRequest.description" name="description" placeholder="Describe the help needed" required></textarea>

      <label for="longitude">Location</label>
      <input type="text" [(ngModel)]="newRequest.location" name="longitude" placeholder="Location" required />

      <!-- <label for="latitude">Location</label>
      <input type="number" [(ngModel)]="newRequest.location.coordinates[1]" name="latitude" placeholder="Latitude" required /> -->

      <button type="submit">{{ editMode ? 'Update Request' : 'Submit Request' }}</button>
      <button *ngIf="editMode" type="button" (click)="cancelEdit()">Cancel</button>
    </form>

    <ul class="help-request-list">
      <li *ngFor="let request of helpRequests" class="help-request-item">
        <strong>{{ request.name }}</strong>: {{ request.description }} <br />
        Location: {{ request.location }}
        <button (click)="editHelpRequest(request)">Edit</button>
        <button (click)="deleteHelpRequest(request._id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
