<!-- { path: 'CreateService', component: ServiceFormComponent },
  { path: 'ServuceList', component: ServicesListComponent },
  { path: 'ProfileEdit', component:  ProfileEditorComponent},
  { path: '', redirectTo: '/ProfileEdit', pathMatch: 'full' },
  { path: '**', redirectTo: '/ProfileEdit' } -->
  <div style="text-align:center">
    <h1>{{ title }}</h1> <!-- Display the title of the application -->
  </div>
  
  <nav>
    <!-- You can add links for navigation here if you have multiple components -->
    
    <a routerLink="/disaster-alerts" routerLinkActive="active">Disaster Alerts</a>
    <a routerLink="/donation-campaigns" routerLinkActive="active">Donation Campaigns</a>
    <a routerLink="/help-requests" routerLinkActive="active">Help Requests</a>
    <a routerLink="/shelters" routerLinkActive="active">Shelters</a>

  </nav>
  
  <!-- Router outlet for displaying routed components -->
  <router-outlet></router-outlet>