<div class="shelter-container">
  <div class="form-container">
    <form (ngSubmit)="editMode ? updateShelter() : createShelter()" class="shelter-form">
      <h1>{{ editMode ? 'Edit Shelter' : 'Shelter Locations' }}</h1>

      <label for="name">Shelter Name</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="newShelter.name"
        name="name"
        placeholder="Shelter Name"
        required
      />

      <label for="address">Address</label>
      <input
        id="address"
        type="text"
        [(ngModel)]="newShelter.address"
        name="address"
        placeholder="Address"
        required
      />

      <label for="longitude">Near By Location</label>
      <input
        id="longitude"
        type="text"
        [(ngModel)]="newShelter.location"
        name="longitude"
        placeholder="Location"
        required
      />

      <!-- <label for="latitude">Latitude</label>
      <input
        id="latitude"
        type="number"
        [(ngModel)]="newShelter.location.coordinates[1]"
        name="latitude"
        placeholder="Latitude"
        required
      /> -->

      <label for="capacity">Capacity</label>
      <input
        id="capacity"
        type="number"
        [(ngModel)]="newShelter.capacity"
        name="capacity"
        placeholder="Capacity"
        required
      />

      <button type="submit">{{ editMode ? 'Update Shelter' : 'Add Shelter' }}</button>
      <button *ngIf="editMode" type="button" (click)="cancelEdit()">Cancel</button>
    </form>

    <ul class="shelter-list">
      <li *ngFor="let shelter of shelters" class="shelter-item">
        <strong>{{ shelter.name }}</strong> - {{ shelter.address }} 
        <br />
        Near By Location: {{ shelter.location}} 
        <br />
        Capacity: {{ shelter.capacity }}
        <button (click)="editShelter(shelter)">Edit</button>
        <button (click)="deleteShelter(shelter._id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
